@model CarRentalManagementSystem.Models.Car

<h2>Add New Car</h2>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="CarName"></label>
        <input asp-for="CarName" class="form-control"/>
    </div>
    <div>
        <label asp-for="CarModel"></label>
        <input asp-for="CarModel" class="form-control"/>
    </div>
    <div>
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form-control"/>
    </div>
    <div>
        <label asp-for="DailyRate"></label>
        <input asp-for="DailyRate" class="form-control"/>
    </div>
    <div>
        <label asp-for="IsAvailable"></label>
        <input asp-for="IsAvailable" type="checkbox" />
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>
