@model IEnumerable<CarRentalManagementSystem.Models.Car>

@{
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Available Cars";
}

<h2>Available Cars</h2>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Image</th>
            <th>Car</th>
            <th>Model</th>
            <th>Daily Rate</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>
                    <img src="~/@car.ImageUrl" width="100" class="img-thumbnail" />
                </td>
                <td>@car.CarName</td>
                <td>@car.CarModel</td>
                <td>@car.DailyRate.ToString("C")</td>
                <td>
                    <a asp-area="Customer" asp-controller="Booking" asp-action="BookNow" asp-route-carId="@car.CarID"
                       class="btn btn-success">Book Now</a>
                </td>
            </tr>
        }
    </tbody>
</table>
